*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: black;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
li{
  color: snow;
}
#card{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* height: 200px;
  width: 171px;
  background-color: antiquewhite; */
}
#main_card{
  height: 200px;
  width: 171px;
  background-color: snow;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
img{
  height: 80%;
  width: 80%;
}